
.DS_Store
*.py
!scripts/*.py
*.proto
/anki
requirements.txt
*.apkg
import-latest-apkg.command
/__pycache__
*.pyc
/assets
/source/
/tmp/
/deck-source/medias/*.png
/deck-source/medias/*.jpg
/deck-source/medias/voicepeak-custom-*.mp3
